@use 'styles/variables';
@use 'styles/mixins/breakpoints';


.form-group {
    margin: 1rem 0;

    label {
        display: inline-block;
        margin-bottom: 0.25rem;
    }
}

.form-control {
    display: block;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid variables.$gray-2;
    border-radius: 0.25rem;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(variables.$blue, 0.25);
    }
}

.error-control {
    .form-control {
        border: 1px solid variables.$red;

        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(variables.$red, 0.25);
        }
    }

    .error-message {
        margin: 0.2rem 0 0 0.3rem;
        color: variables.$red;
        font-size: div(variables.$font-sm, 1.1);
        font-weight: 700;

        @include breakpoints.breakpoint-up(md) {
            font-size: div(variables.$font-md, 1.1);
        }
    }
}
