@use 'styles/variables';
@use 'styles/mixins/breakpoints';


body {
    font-family: sans-serif;

    h2 {
        font-size: variables.$h2-font-sm;
    }

    font-size: variables.$font-sm;

    @include breakpoints.breakpoint-up(md) {
        h2 {
            font-size: variables.$h2-font-md;
        }

        font-size: variables.$font-md;
    }
}
