@use 'styles/variables';
@use 'styles/mixins/breakpoints';


body {
    font-family: sans-serif;

    h2 {
        font-size: variables.$h2-font-sm;
    }

    font-size: variables.$font-sm;

    @include breakpoints.breakpoint-up(md) {
        h2 {
            font-size: variables.$h2-font-md;
        }

        font-size: variables.$font-md;
    }
}

.form-title {
    margin: 0 1rem;

    @include  breakpoints.breakpoint-up(xl) {
        margin: 0;
    }
}

.form-container {
    margin: 0 1rem;

    @include  breakpoints.breakpoint-up(xl) {
        margin: 0;
        width: 80%;
    }

    @include  breakpoints.breakpoint-up(xxl) {
        width: 60%;
    }
}
