// Fuente
body {
    font-family: sans-serif;

    h2 {
        font-size: $h2-font-sm;
    }

    font-size: $font-sm;

    @include breakpoint-up(md) {
        h2 {
            font-size: $h2-font-md;
        }

        font-size: $font-md;
    }
}

// Layout

.page-container {
    position: relative;
    min-height: 100vh;
}

.main {
    padding-bottom: 10rem;

    @include breakpoint-up(xl){
        margin: 0 10%;
    }
}


// Botones

%btn {
    display: inline-block;
    padding: .375rem .75rem;
    color: $white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    border: none;
}

@each $color, $value in $colors {
    .btn-#{$color} {
        @extend %btn;

        background-color: $value;

        @include btn-pseudos($value);
    }
}

.btn-secondary {
    color: $black;
}

.btn-lg {
    $rel-size: 2.5;

    padding: (.375rem * $rel-size) (.75rem * $rel-size);
}

.btn-sm {
    padding: 0.5rem;
    font-size: 0.8rem;
}

.btn-rounded {
    border-radius: 0.5rem;
}



// Tablas

.table {
    border-collapse: collapse;
    border: 1px solid $gray;

    th, td {
        min-width: 10rem;
        padding: 0.75rem;
        text-align: center;
        vertical-align: top;
        border: 1px solid $gray;
    }

    thead th {
        background-color: $gray;
    }

    tfoot td {
        text-align: left;
    }

    tfoot td span {
        font-weight: bold;
    }
}

.table-striped {
    @extend .table;

    tbody tr:nth-of-type(even) {
        background-color: rgba($black, 0.05);
    }

    th, td {
        border: none;
    }
}

.header-dark {
    th {
        background-color: $black-2 !important;
        color: $white-2 !important;
        border: 1px solid $black-2 !important;
    }
}
