// Botones

@mixin btn-pseudos($color) {
    &:hover {
        background-color: scale-color($color, $lightness: -20%);
    }

    &:focus {
        background-color: scale-color($color, $lightness: -20%);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba($color, 0.3);
    }

    &:active {
        background-color: scale-color($color, $lightness: -30%);
        box-shadow: none;
    }
}


// Breakpoints

@function breakpoint-min($breakpoint) {
    @return map-get($breakpoints, $breakpoint);
}

@function breakpoint-max($breakpoint) {
    @return map-get($breakpoints, $breakpoint) - 0.02;
}

@mixin breakpoint-up($breakpoint) {
    @media (min-width: breakpoint-min($breakpoint)) {
        @content;
    }
}

@mixin breakpoint-down($breakpoint) {
    @media (max-width: breakpoint-max($breakpoint)) {
        @content;
    }
}
