@use 'variables';

// Display

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}


// Texto

.text-right {
    text-align: right;
}

.text-red {
    color: variables.$red;
}

.text-light {
    color: variables.$light;
}


// Margen
.mt-7 {
    margin-top: 7rem;
}
