// Colores

$black: #000;
$black-2: #333;
$white: #fff;
$white-2: #eee;
$blue: #008cba;
$red: #cd0035;
$gray: #e7e7e7;
$gray-2: #ced4da;
$light: #777;

$colors: (
    "primary": $blue,
    "secondary": $gray
);


// Breakpoints

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);


// Fonts
$font-sm: 0.8125rem;
$font-md: 1rem;

$h2-font-sm: 1.125rem;
$h2-font-md: 1.5rem;
