@use 'styles/mixins/breakpoints';


.page-container {
    position: relative;
    min-height: 100vh;
}

.main {
    padding-top: 1rem;
    padding-bottom: 10rem;

    @include breakpoints.breakpoint-up(xl) {
        margin: 0 10%;
    }
}
