@use 'styles/mixins/breakpoints';


.section {
    h2 {
        margin-left: 1rem;

        @include breakpoints.breakpoint-up(xl) {
            margin-left: 0;
        }
    }
}

.table-container {
    overflow: auto;
}
